<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzo2o.foundations.mapper.ServeMapper">
    <select id="queryServeListByRegionId" resultType="com.jzo2o.foundations.model.dto.response.ServeResDTO">
        SELECT
            serve.id,
            serve.sale_status,
            serve.serve_item_id,
            item.name AS serve_item_name,
            item.serve_type_id,
            serve.region_id,
            item.reference_price,
            serve.price,
            serve.is_hot,
            serve.create_time,
            serve.update_time,
            type.id serve_type_id,
            type.name serve_type_name
        FROM
            serve
                inner JOIN serve_item AS item ON serve.serve_item_id = item.id
                inner JOIN serve_type AS type ON item.serve_type_id = type.id
        WHERE
            serve.region_id = #{regionId}
    </select>
    <select id="queryServeListByRegionIdAndStatus" resultType="com.jzo2o.foundations.model.dto.response.ServeResDTO">
        SELECT
            st.id serve_type_id,
            si.NAME serve_item_name,
            s.update_time update_time,
            s.sale_status sale_status,
            si.id serve_item_id,
            si.reference_price reference_price,
            s.create_time create_time,
            s.region_id region_id,
            s.price price,
            s.id id,
            s.is_hot is_hot,
            st.NAME serve_type_name
        FROM
            serve s
                INNER JOIN serve_item si ON s.serve_item_id = si.id
                INNER JOIN serve_type st ON si.serve_type_id = st.id
        WHERE
            region_id = #{regionId} AND sale_status = #{status}
    </select>
    <select id="queryServeListByServeItemIdAndStatus"
            resultType="com.jzo2o.foundations.model.dto.response.ServeResDTO">
            SELECT
                st.id serve_type_id,
                si.NAME serve_item_name,
                s.update_time update_time,
                s.sale_status sale_status,
                si.id serve_item_id,
                si.reference_price reference_price,
                s.create_time create_time,
                s.region_id region_id,
                s.price price,
                s.id id,
                s.is_hot is_hot,
                st.NAME serve_type_name
            FROM
                serve s
                    INNER JOIN serve_item si ON s.serve_item_id = si.id
                    INNER JOIN serve_type st ON si.serve_type_id = st.id
            WHERE
                serve_item_id = #{serveItemId} AND sale_status = #{status}
    </select>


</mapper>
